<!DOCTYPE html>
<html lang="en">

<head>

{{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- MAIN HEADER -->
    <div class="container-fluid main_header">
        <div class="row">
            <!-- LEFT SIDE DIV -->
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/about.png" alt="image" class="image-fluid" title="aps">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to My Weather App</p>
                        <h1>Hello Friends, I'm <span class="text_color">Aniket Suthar </span>Currently Learning MERN
                            Stack Dev.</h1>
                        <a href="https://www.linkedin.com/in/aniket-suthar-301422249/"><button>Connect with
                                Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN FOOTER -->
    {{>footer}}
</body>

</html>