<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>

{{>navbar}}
    <!-- MAIN HEADER -->
    <h1>Logout Successful !</h1>

    <!-- MAIN FOOTER -->
   {{>footer}}
</body>

</html>