{{>headerlinks}}

<body>
    {{>navbar}}
    <section class="vh-50 gradient-custom">
        <div class="container py-5 h-50">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h1 class="mb-4 pb-2 pb-md-0 mb-md-5 " style="text-align:center">Registration Form</h1>
                            <form action="/register" method="POST">

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="firstName">First Name:</label>
                                            <input type="text" id="firstName" class="form-control form-control-lg"
                                                name="fname" placeholder="Enter First Name" />
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="lastName">Last Name :</label>
                                            <input type="text" id="lastName" class="form-control form-control-lg"
                                                name="lname" placeholder="Enter Last Name" />
                                        </div>

                                    </div>

                                    <div class="col-md-6 mb-4 d-flex align-items-center">

                                        <div class="form-outline datepicker w-100">
                                            <label for="age" class="form-label">Age :</label>
                                            <input type="Number" class="form-control form-control-lg" id="age"
                                                name="age" placeholder="Enter Your Age" />
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <h3 class="mb-2 pb-1">Gender:</h3>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="maleGender">Male</label>
                                            <input class="form-check-input" type="radio" name="gender" id="maleGender"
                                                value="Male" />
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="femaleGender">Female</label>
                                            <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                                                value="Female" />
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="otherGender">Other</label>
                                            <input class="form-check-input" type="radio" name="gender" id="otherGender"
                                                value="Other" />
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            <label class="form-label" for="emailAddress">Email:</label>
                                            <input type="email" id="emailAddress" class="form-control form-control-lg"
                                                name="emailID" placeholder="Enter Your Email" />
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">

                                        <div class="form-outline">
                                            <label class="form-label" for="phoneNumber">Phone Number :</label>
                                            <input type="tel" id="phoneNumber" class="form-control form-control-lg"
                                                name="Pnumber" placeholder="Enter Your Mobile number" />
                                        </div>

                                    </div>

                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="password">Password :</label>
                                            <input type="password" id="password" class="form-control form-control-lg"
                                                name="pass" placeholder="Enter Password * " />
                                        </div>

                                    </div>

                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="Cpassword">Confirm Password:</label>
                                            <input type="password" id="Cpassword" class="form-control form-control-lg"
                                                name="cpass" placeholder="Confirm your Password * " />
                                        </div>

                                    </div>
                                </div>
                                <div class="reg mt-2 pt-1">
                                    <button type="submit" value="Register" class="regB btn btn-success btn-lg"
                                        name="save">Register</button>
                                    <a href="/login"><button type="button"
                                            class="logB btn btn-primary btn-lg">login</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{>footer}}
</body>

</html>